@import '../node_modules/reset-css/sass/reset';

$yellow:#C9CA4C;
$green:#55CA4C;

body{
    background-color: #000;
    width:100vw;
    height:100vh;
    overflow: hidden;
}

#background{
    position: absolute;
    top:-25vh;
    left:-25vw;
    z-index:0;
    .stage{
        perspective: 1200px;
        perspective-origin: 50% 50%;
        .projector{
            transform-style: preserve-3d;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition: all 1s;
            animation-name: jiggle;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        .child{
            background-size: 40px 40px;
            background-image: //url('/img/background.svg')
                linear-gradient(to right, green 5px, transparent 1px),
                linear-gradient(to bottom, green 5px, transparent 1px);
            //background-size: contain;
            //background-repeat: no-repeat;
            transform-style: preserve-3d;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transition: all 1s;
        }
    }
}
#background, #background > .stage, #background > .stage .child, #background > .stage .projector{
    width:175vw;
    height:175vh;
}
@keyframes jiggle {
    0%   {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
    25%  {transform: rotateX(-1deg) rotateY(1deg) rotateZ(-1deg)}
    50%  {transform: rotateX(0.5deg) rotateY(-0.5deg) rotateZ(0.5deg)}
    75%  {transform: rotateX(1deg) rotateY(-1deg) rotateZ(1deg)}
    100% {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)}
}

#interface{
    position: absolute;
    top:12vh;
    left:12vw;
    z-index:0;
    width:75vw;
    height:75vh;
    //background:pink;
}
#home{
    .layout{
        display: flex;
        .goober{
            width:60%;
            img{
                opacity:0.95
            }
        }
        .menu{
            display:flex;
            width:40%;
            justify-content: center;
            align-items: center;
            .item{
                button{
                    background: unset;
                    border: unset;
                    color: $yellow;
                    text-align: left;
                    width: 250px;
                    height: 80px;
                }
                button > svg{
                    transition: all 0.5s;
                }
                button:hover > svg, button:active > svg, button:focus > svg{
                    transform: scale(1.15);
                    filter: hue-rotate(45deg);
                }
            }
        }
    }
}